<!DOCTYPE html>
<html>
<head>
  <title>Register</title>
  <link href="https://fonts.googleapis.com/css?family=Nunito:400,600,700" rel="stylesheet">
  <link rel="stylesheet" href="style.css" />
</head>
<body>

  <div id="login_div" class="main-div">
    <form action="/register" method="GET">
        <h3>Register</h3>
        <input type="text" placeholder="Username..." name="username" id="username" required />
        <input type="password" placeholder="Password..." name="password" id="password" required />
        <input type="password" placeholder="Confirm Password..." name="confirm_password" id="confirm_password" required />
        <button type="submit">Register</button>

      </form>
  </div>

</body>
</html>